html {
    @include antialiasing(pixel);

    background-color: color($gray, darkest);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    * {
        box-sizing: border-box;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        position: relative;

        &:after,
        &:before {
            box-sizing: border-box;
        }
    }
}

ul {
    list-style: none;
}

h1 {
    @include font-sans-light;

    color: $white;
    font-size: setting($font-size, m);
    margin-bottom: .5em;
    opacity: .75;
    text-transform: uppercase;
}

h2 {
    @include font-sans-black;

    color: $white;
    font-size: setting($font-size, default);
}

li {
    border-bottom: solid .1vw color($blue, lightest, .2);
    padding: .35vh 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}  /* for IE/Mac */

table.table__monitor {
    width: 100%;
}

table.table__monitor tr {
    font-size: setting($font-size, xs);
}

table.table__monitor tr td {
    @include font-sans-light;
    color: $white;
    font-size: setting($font-size, xs);
    padding: .35vh .35vw;
    border-bottom: 1px solid color($gray, lighter);
}

table.table__monitor tr th {
    @include font-sans;
    color: $white;
    font-size: setting($font-size, xs);
    padding: .35vh .35vw;
}

i {
    margin-right: 0.5em;
}

.dtc-logo {
    z-index: 1;
}

.dtc-logo__background {
    @include logo-background-icon('/svg/dtc-logo.svg');

    width: 151px;
    background-size: contain;
    padding: 0; /* reset */
}

.fa-btn {   
    margin-right: 6px;
}

.navbar {
    font-size: $font-size-large;

    margin-bottom: 0px;
}

.border-light {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.nopadmar {
    margin: 0;
    padding: 0;
}

.fade-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fade-enter, .fade-leave {
    opacity: 0;
}
